# Telegram Bot Configuration
TELEGRAM_BOT_TOKEN=your_bot_token
ADMIN_CHAT_ID=your_chat_id

# BNB Testnet Configuration
BNB_TESTNET_ADDRESS=your_admin_bnb_address
HOT_WALLET_PRIVATE_KEY=your_bnb_hot_wallet_private_key
USDT_CONTRACT_ADDRESS=0x337610d27c682E347C9cD60BD4b3b107C9d34dDd

# Sui Testnet Configuration
SUI_TESTNET_ADDRESS=your_admin_sui_address
SUI_HOT_WALLET_PRIVATE_KEY=your_sui_hot_wallet_private_key_base64
